---
import BaseLayout from "@layouts/BaseLayout.astro";

const description =
  "Développeur Sénior full-stack multilinge à votre service! Je peux vous aider à bâtir vos projets et à atteindre le succès.";
const pageTitle = "Luxain Solutions, e.U.";

const services = ["Développement Logiciel", "Gestion de projet", "Conseil"];
---

<BaseLayout description={description} pageTitle={pageTitle}>
  <section class="text-center">
    <h1 class="py-10 text-2xl font-bold [font-variant-caps:small-caps]">
      {pageTitle}
    </h1>
    <h2 class="text-xl">Pascal Luxain</h2>
    <h3>-- Dévoloppeur Sénior full-stack multilingue</h3>
    <blockquote class="py-2 text-2xl italic">À votre service !</blockquote>
    <ul class="flex flex-col gap-2 py-4 font-bold">
      {
        services.map((service) => (
          <li class="p-4 text-center odd:bg-blue-50 odd:text-blue-500 even:bg-blue-500 even:text-blue-50 hover:bg-green-500 hover:text-white">
            {service}
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
