---
import BaseLayout from "@layouts/BaseLayout.astro";

const description =
  "Développeur Sénior full-stack multilinge à votre service! Je peux vous aider à bâtir vos projets et à atteindre le succès.";
const pageTitle = "Luxain Solutions, e.U.";
---

<BaseLayout description={description} pageTitle={pageTitle}>
  <section>
    <h1>
      {pageTitle}
    </h1>
    <h2>Pascal Luxain</h2>
    <h3>-- Dévoloppeur Sénior full-stack multilingue</h3>
    <blockquote>À votre service !</blockquote>
    <ul>
      <li>Développement Logiciel</li>
      <li>Gestion de projet</li>
      <li>Conseil</li>
    </ul>
  </section>
</BaseLayout>
<style>
  section {
    @apply text-center;
  }

  h1 {
    @apply py-10 text-2xl font-bold [font-variant-caps:small-caps];
  }

  h2 {
    @apply text-xl;
  }

  blockquote {
    @apply py-2 text-2xl italic;
  }

  ul {
    @apply flex flex-col gap-2 py-4 font-bold;
  }

  li:nth-child(odd) {
    @apply bg-blue-50 p-4 text-center text-blue-500;
  }

  li:nth-child(even) {
    @apply bg-blue-500 p-4 text-center text-blue-50;
  }

  li:hover {
    @apply bg-green-500 text-white;
  }
</style>
