---
import BaseLayout from "@layouts/BaseLayout.astro";

const description =
  "Multilingual Senior full-stack Developer at your service! I can help you build your awesome projects and reach success.";
const pageTitle = "Luxain Solutions, e.U.";

const services = ["Software Development", "Project Management", "Counseling"];
---

<BaseLayout description={description} pageTitle={pageTitle}>
  <section class="text-center">
    <h1 class="py-10 text-2xl font-bold [font-variant-caps:small-caps]">
      {pageTitle}
    </h1>
    <h2 class="text-xl">Pascal Luxain</h2>
    <h3>-- Multilingual Senior full-stack Software Developer</h3>
    <blockquote class="py-2 text-2xl italic">At your service !</blockquote>
    <ul class="flex flex-col gap-2 py-4 font-bold">
      {
        services.map((service) => (
          <li class="p-4 text-center odd:bg-blue-50 odd:text-blue-500 even:bg-blue-500 even:text-blue-50 hover:bg-green-500 hover:text-white">
            {service}
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
