---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Luxain Solutions, e.U.";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="text-center">
    <h1 class="py-10 text-2xl font-bold [font-variant-caps:small-caps]">
      {pageTitle}
    </h1>
    <h2 class="text-xl">Pascal Luxain</h2>
    <h3>-- Multilingual Senior Software Developer</h3>
    <blockquote class="py-2 text-2xl italic">At your service !</blockquote>
    <ul class="flex flex-col gap-2 py-4 font-bold">
      <li class="bg-blue-50 p-4 text-center text-blue-500">
        Software Development
      </li>
      <li class="bg-blue-500 p-4 text-center text-blue-50">
        Project Management
      </li>
      <li class="bg-blue-50 p-4 text-center text-blue-500">Counseling</li>
    </ul>
  </section>
</BaseLayout>
