---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Luxain Solutions, e.U.";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1
      class="py-10 text-2xl font-bold text-center [font-variant-caps:small-caps]"
    >
      {pageTitle}
    </h1>
    <ul>
      <li class="text-center">Software Development</li>
      <li class="text-center">Project Management</li>
    </ul>
  </section>
</BaseLayout>
