---

---

<footer
  class="flex flex-row items-center justify-between bg-blue-50 px-2 py-4 text-blue-500 md:px-8"
>
  <div>
    <p>&copy; 2024 Luxain Solutions, e.U.</p>
  </div>
  <div>
    <p class="text-center">-- Your missing link.</p>
  </div>
  <div class="hidden md:block">
    <p>ATU81100915</p>
  </div>
</footer>
