---

---

<footer
  class="flex flex-row items-center justify-between bg-blue-50 px-10 py-6 text-blue-500"
>
  <div>
    <p>Luxain Solutions, e.U.</p>
  </div>
  <div>
    <p class="text-center">Your missing link.</p>
  </div>
</footer>
