---
import * as m from "@messages/messages";
---

<footer
  class="flex flex-row items-center justify-between bg-blue-50 px-2 py-4 text-sm text-blue-500 md:px-8"
>
  <div>
    <p>&copy; 2024 {m.where_do_i_work()}</p>
  </div>
  <div>
    <p class="text-center">-- {m.moto()}</p>
  </div>
  <div class="hidden md:block">
    <p>ATU81100915</p>
  </div>
</footer>
