---
import { availableLanguageTags } from "@messages/runtime";
import LanguageTag from "@components/LanguageTag.astro";
import Link from "@components/Link.astro";

const { currentLocale } = Astro;
---

<ul class="flex flex-row justify-end gap-2">
  {
    availableLanguageTags.map((lang) => (
      <li>
        {lang === currentLocale ? (
          <LanguageTag lang={lang} />
        ) : (
          <Link href={`/${lang}/`} hreflang={lang}>
            {lang}
          </Link>
        )}
      </li>
    ))
  }
</ul>
