---
type Props = {
  href: string;
  hreflang?: string;
  rel?: string;
};

const { href, hreflang, rel } = Astro.props;
---

<a href={href} hreflang={hreflang} rel={rel} class="underline"><slot /></a>
