---
type Props = {
  href: string;
  text: string;
  hreflang?: string;
  rel?: string;
};

const { href, hreflang, rel, text } = Astro.props;
---

<a href={href} hreflang={hreflang} rel={rel} class="underline">{text}</a>
