---
type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="h-screen flex flex-col justify-between">
    <main class="lg:w-[50%] mx-auto">
      <slot />
    </main>

    <footer
      class="px-10 py-6 flex flex-row justify-between items-center bg-blue-50 text-blue-500"
    >
      <div>
        <p>Luxain Solutions, e.U.</p>
      </div>
      <div>
        <p class="text-center">Your missing link.</p>
      </div>
    </footer>
  </body>
</html>
